body {
    background-color: #171717;
    /* border: 10px solid #32BD8A; */
    /* border-color: #32BD8A; */
    transition: background-color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: black;
    padding: 20px;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    justify-content: center;
}

#acorde {
    background-color: transparent;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

#teclas-pressionadas-container {
    padding: 50px;

}

#notas-pressionadas {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quadrados-container {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.quadrado {
    width: 60px;
    height: 60px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

/* Estilo para os quadrados com barras brancas à esquerda */
.quadrados-container .quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5; /* Defina uma opacidade padrão */
    transition: opacity 0.2s ease-in-out; /* Adicione uma transição suave para a mudança de opacidade */
}


.nota {
    font-size: 30px;
    margin-top: 5px;
}

.C {
    background-color: #699ECB;
}

.D {
    background-color: #32BD8A;
}

.E {
    background-color: #6AF100;
}

.F {
    background-color: #C6AC65;
}

.G {
    background-color: #F96B25;
}

.A {
    background-color: #CD29D5;
}

.B {
    background-color: #8D37FA;
}

.Csus {
    background-color: #6FCCCF;
    border-left: 10px solid white;
    width: 50px;
}
.Dsus {
    background-color: #35BD32;
    border-left: 10px solid white;
    width: 50px;
}
.Fsus {
    background-color: #C69C65;
    border-left: 10px solid white;
    width: 50px;
}
.Gsus {
    background-color: #FF8585;
    border-left: 10px solid white;
    width: 50px;
}
.Asus {
    background-color: #B329D5;
    border-left: 10px solid white;
    width: 50px;
}


/* Estilo para os quadrados pressionados */
.quadrados-container .quadrado.pressionado {
    opacity: 1;
}
.quadrado .quadrado.pressionado {
    opacity: 1;
}